.head{
    text-align: center;
    background-color: gray;
}
.tail{
    text-align: center;
    background-color: gray;
}
.wash{
    width: 200px;
    height: 150px;
}
.deco{
    text-decoration: none;
}
.deco:hover{
    color: red;
}
.flex{
    display: flex;
    flex: 1;
    flex-wrap: wrap ;
    justify-content: space-evenly;
    column-gap: 25px;
}
.text{
    text-align: left;
}
.hov:hover{
    text-shadow: 3px 3px 5px black, -3px -3px 5px red;
}